**/__pycache__
.venv
**.idea/workspace.xml
.idea/workspace.xml
python\.idea\workspace.xml
.idea/exercicios-python.iml
.idea/exercicios-python.iml
.idea/misc.xml
.idea/workspace.xml
Engenharia de Software/.DS_Store
Engenharia de Software/Lab. de Programação - Aula 06/.DS_Store
Engenharia de Software/Lab. de Programação - Aula 06/Lista Aula 06/.DS_Store
.idea/workspace.xml
